<%= form_with model: @zoo, url: zoo_path(@zoo), method: :patch do |f| %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :動物園名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :推しの動物 %>
    <%= f.text_field :favorite %>
  </div>

  <div class="field">
    <%= f.label "いる動物(,で区切ると複数の動物が追加できます)" %>
    <%= f.collection_check_boxes :animal_ids, Animal.where(user_id: current_user.id), :id, :name %>
    <%= f.text_field :animals, value: '' %>
  </div>

  <div class="field">
    <%= f.label :場所 %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :五段階評価 %>
    <div id="rate">
  </div>

  <button type="submit" class="btn btn-outline-primary btn-block">編集</button>

<% end %>

<script>
  $('#rate').raty({
    starOn: "<%= asset_path('lion.emozi.png') %>",
    starOff: "<%= asset_path('siro.png') %>",
    scoreName: 'zoo[rate]'
  })
</script>
