<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="m-5">ユーザ登録</h2>

        <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.label :ユーザ名 %></td>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td><%= f.label :誕生日 %></td>
                <td><%= f.date_select :birthday %></td>
              </tr>
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :パスワード %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                  <% end %>
                </td>
                <td>
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </td>
              </tr>
              <tr>
                <td><%= f.label :パスワード（確認用） %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success">
              ユーザ登録
            </button>
          </div>

          <%= render "devise/shared/links" %>
          <% end %>
        </div>
    <div class="col-md-2"></div>
  </div>
</div>


