<h2>ユーザ情報編集</h2>

<%= form_with model: @user, url: user_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :ユーザ名 %>
    <%= f.text_field :name %>
  </div>
  <div class="field" %>
    <%= f.label :誕生日 %>
    <%= f.date_select :birthday %>
  </div>
  <button type="submit" class="btn btn-outline-primary btn-block">編集</button>
<% end %>