<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>
</div>

<table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>

<h2><i class="fa-solid fa-pencil"></i>ユーザ情報編集</h2>

<%= form_with model: @user, url: user_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :ユーザ名 %>
    <%= f.text_field :name %>
  </div>
  <div class="field" %>
    <%= f.label :誕生日 %>
    <%= f.date_select :birthday %>
  </div>
  <button type="submit" class="btn btn-outline-primary btn-block">編集</button>
<% end %>