<h1>Users#edit</h1>

<h2>ユーザ情報編集</h2>

<%= form_with model: @user, url: user_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :ユーザ名 %>
    <%= f.text_field :name %>
  </div>
  <div class="field" %>
    <%= f.label :誕生日 %>
    <%= f.date_select :birthday %>
  </div>
  <%= f.submit "編集" %>
<% end %>