<h1>Users#show</h1>

<h2>
  <%= @user.name %>さんのページ
</h2>

<p>
  <%= link_to new_zoo_path do %>
    動物園追加
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>動物園名</th>
      <th>推し動物</th>
      <th>訪れた日付</th>
      <th>五段階評価</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @zoos.each do |zoo| %>
      <tr>
        <td><%= zoo.name %></td>
        <td><%= zoo.favorite %></td>
        <td><%= zoo.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= zoo.assessment %></td>
        <td>
          <%= link_to zoo_path(zoo) do %>
            詳細
          <% end %>
        </td>
        <td>
          <%= link_to edit_zoo_path(zoo) do %>
            編集
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_animal_path do %>
  動物を追加
<% end %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>いる動物園</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td>
        <% animal.zoos.each do |zoo| %>
          <%= zoo.name %>
        <% end %>
        </td>
        <td>
          <%= link_to animal_path(animal) do %>
            詳細
          <% end %>
        </td>
        <td>
          <%= link_to edit_animal_path(animal) do %>
            編集
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
