<h2>
  <%= @user.name %>さんのページ
</h2>


<p>
  <%= link_to new_zoo_path, class: "btn btn-outline-warning btn-block" do %>
    動物園追加
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>動物園名</th>
      <th>推し動物</th>
      <th>訪れた日付</th>
      <th>五段階評価</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @zoos.each do |zoo| %>
      <tr>
        <td><%= zoo.name %></td>
        <td><%= zoo.favorite %></td>
        <td><%= zoo.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= zoo.rate %></td>
        <td class="evaluations" data-score="<%= zoo.rate %>"></td>
        <td>
          <%= link_to zoo_path(zoo), class: "btn btn-outline-secondary" do %>
            詳細
          <% end %>
        </td>
        <td>
          <%= link_to edit_zoo_path(zoo), class: "btn btn-outline-info" do %>
            編集
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_animal_path, class: "btn btn-outline-warning btn-block" do %>
  動物を追加
<% end %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>いる動物園</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td>
        <% animal.zoos.each do |zoo| %>
          <%= zoo.name %>
        <% end %>
        </td>
        <td>
          <%= link_to animal_path(animal),class: "btn btn-outline-secondary" do %>
            詳細
          <% end %>
        </td>
        <td>
          <%= link_to edit_animal_path(animal), class: "btn btn-outline-info" do %>
            編集
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>ユーザ情報</h3>
<h4>
  <%= link_to edit_user_path(@user), class: "btn btn-outline-info" do %>
    編集する
  <% end %>
</h4>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>名前</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>誕生日</td>
        <td><%= @user.birthday %></td>
      </tr>
    </tbody>
  </table>


<script>
  $('.evaluations').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOn: "<%= asset_path('lion.emozi.png') %>",
    starOff: "<%= asset_path('siro.png') %>",
  });
</script>
