animal#edit

<%= form_with model: @animal, url:animal_path(@animal), method: :patch do |f| %>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>名前</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>詳細</td>
      <td><%= f.text_field :introduction %></td>
    </tr>
    <tr>
      <td>いる動物園</td>
      <td>
        <%= f.collection_check_boxes :zoo_ids, Zoo.where(user_id: current_user.id), :id, :name %>
      </td>
    </tr>
  </tbody>
</table>

  <button type="submit" class="btn btn-outline-primary btn-block">編集</button>

<% end %>