animal#index

<h2>お気に入りの動物から動物園を探そう！</h2>

<%= search_form_for @q do |f| %>
  <%= f.label :動物名入力%>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>

<h2>検索結果</h2>

<table>
  <thead>
    <tr>
      <th>動物名</th>
      <th>いる動物園</th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.name %></td>
          <td>
            <% animal.zoos.each do |zoo| %>
              <%= link_to zoo_path(zoo) do %>
                <%= zoo.name %><br>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% if @animals.size == 0 %>
        登録されていません
      <% end %>
    <% end %>
  </tbody>
</table>



