animal#new

<%= form_with model: @animal, url: animals_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= f.label :動物名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :紹介 %>
    <%= f.text_field :introduction %>
  </div>

  <button type="submit" class="btn btn-outline-warning btn-block">新規登録</button>
<% end %>
