<!DOCTYPE html>
<html>
  <head>
    <title>ZooNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




    <div class="container-fluid header">
      <div class="row">

        <div class="col-md-2">
          <%= image_tag 'logo', class: 'img-fluid' %>
        </div>

        <div class="col-md-5">
        </div>

          <div class="col-md-5 mt-5">
            <% if user_signed_in? %>
            <ul class="nav pull-right nav-pills">
              <li>
              <i class="fa-solid fa-paw headermozi"></i>
              <%= link_to "動物園一覧", zoos_path(class: "headermozi") %>
            </li>
            <li>
              <i class="fa-solid fa-address-book headermozi"></i>
              <%= link_to "マイページ  ", user_path(current_user, class: "headermozi") %>
            </li>
            <li>
              <i class="fa-solid fa-arrow-right-from-bracket headermozi"></i>
              <%= link_to "ログアウト  ", destroy_user_session_path(class: "headermozi"), method: :delete %>
            </li>
          <% else %>
            <li>
              <i class="fa-solid fa-paw headermozi"></i>
              <%= link_to "動物園一覧  ", zoos_path(class: "headermozi") %>
            </li>
            <li>
              <i class="fa-solid fa-address-card headermozi"></i>
              <%= link_to "ユーザ登録  ", new_user_registration_path(class: "headermozi") %>
            </li>
            <li>
              <i class="fa-solid fa-arrow-right-to-bracket headermozi"></i>
              <%= link_to "ログイン  ", new_user_session_path(class: "headermozi") %>
            </li>
          <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>
  <script src="https://kit.fontawesome.com/6171b31f98.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="body">
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-md-10">
          <i class="fa-solid fa-hippo hippo"></i>
          <i class="fa-solid fa-horse horse"></i>
          <i class="fa-solid fa-otter otter"></i>
          <i class="fa-solid fa-cat cat"></i>
          <i class="fa-solid fa-crow crow"></i>
        </div>
        <div class="col-md-2">ZOONAVI</div>
      </div>
    </div>



  </footer>
</html>
