<!DOCTYPE html>
<html>
  <head>
    <title>ZooNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <li>
        <%= link_to "動物園一覧", zoos_path %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "動物園一覧", zoos_path %>
      </li>
      <li>
        <%= link_to "ユーザ登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <%= image_tag 'キリンのフリー素材2', class: 'kirin-image'  %>
    <%= image_tag 'ゾウのフリー素材9', class: 'zou-image'  %>
    <%= image_tag 'カバのアイコン3', class: 'kaba-image'  %>
    <%= image_tag '猿のフリー素材', class: 'saru-image'  %>
    <%= image_tag 'うさぎ', class: 'usagi-image'  %>

    <div class="text-right">ZOONAVI</div>
  </footer>
</html>
